* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

#container {
  width: 900px;
  margin: 0 auto 32px auto;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

.search-container {
  position: relative;
  height: 40px;
  width: 40px;
}

.search-input {
  position: absolute;
  left: auto;
  right: 40px;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 40px;
  transition-duration: 0.4s;
  border-bottom: 1px solid #000;
}

.search-input:focus {
  width: 250px;
}

.search-button {
  position: absolute;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search-button span {
  display: inline-block;
  transform: rotate(-45deg);
}

.seasons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.side-by-side {
  display: flex;
  column-gap: 16px;
}

.side-by-side .right-side-title-margin {
  margin-top: 51px;
}

.stats-box {
  background: #ccc;
  padding: 16px;
  width: 400px;
  text-align: right;
}

.chart-container {
  width: 400px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  #container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .seasons-grid {
    grid-template-columns: 1fr 1fr;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }

  .side-by-side {
    flex-direction: column-reverse;
  }

  .side-by-side .right-side-title-margin {
    margin-top: 16px;
  }

  .stats-box,
  .chart-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .seasons-grid {
    grid-template-columns: 1fr;
  }
}
