* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

#container {
  width: 900px;
  margin: 0 auto 32px auto;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

.seasons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.bottom-stats {
  display: flex;
  justify-content: space-between;
}

.side-by-side {
  display: flex;
  column-gap: 16px;
}

.side-by-side .right-side-title-margin {
  margin-top: 51px;
}

.stats-box {
  background: #ccc;
  padding: 16px;
  width: 400px;
  text-align: right;
}

.bot-stats {
  display: flex;
  justify-content: space-between;
}

.season-pwt-link {
  text-align: right;
}

@media screen and (max-width: 900px) {
  #container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .seasons-grid {
    grid-template-columns: 1fr 1fr;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }

  .side-by-side {
    flex-direction: column-reverse;
  }

  .side-by-side .right-side-title-margin {
    margin-top: 16px;
  }

  .stats-box {
    width: 100%;
  }

  .season-pwt-link {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .seasons-grid {
    grid-template-columns: 1fr;
  }

  .bot-stats {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .bottom-stats {
    flex-direction: column-reverse;
    justify-content: normal;
  }
}
