* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

#container {
  width: 850px;
  margin: 0 auto 32px auto;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
  width: 200px;
}

.search-container {
  margin-right: 20px;
  position: relative;
  height: 40px;
  width: 40px;
}

.search-input {
  position: absolute;
  left: auto;
  right: 40px;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 40px;
  transition-duration: 0.4s;
  border-bottom: 1px solid #000;
}

.search-input:focus {
  width: 250px;
}

.search-button {
  position: absolute;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search-button span {
  display: inline-block;
  transform: rotate(-45deg);
}
